.Header {
    --_header-padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--_header-padding);
	width: calc(100%-var(--_header-padding));
}

.branding {
	font-size: 35px;
	color: white;
}

.branding span {
	background-color: var(--blue-4);
	color: var(--black);
	padding: 5px;
	border-radius: 5px;
    margin-left: 5px;
}

.discordBtn {
    background-color: #5865F2;
    padding: 8px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: .1s;
    font-size: 15px;
}

.discordBtn:hover {
    border-radius: 10px;
    background-color: #4c57d3;
}

.menuItems {
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.userIcon {
    border: 1px white solid;
    padding: 5px 8px;
    border-radius: 50%;
    transition-duration: .1s;
    cursor: pointer;
}

.upload_btn {
    background-color: var(--blue-4);
    padding: 8px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: .1s;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.upload_btn:hover {
    border-radius: 10px;
    background-color: var(--blue-3);
}

.upload_btn i {
    margin-left: 5px;
    font-size: 20px;
}

.userIcon:hover {
    color: var(--black);
    background-color: white;
}

.userActions {
    color: white !important;
    font-size: 16px;
    position: absolute;
    transform: translateX(calc(-100% + 20px)) translateY(10px);
    min-width: 170px;
    z-index: 999;

    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--surface-5);
    background-color: var(--surface-3);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.userActions p {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    width: calc(100% - 10px);
    justify-content: space-between;
}

.userActions p:hover {
    background-color: white;
    color: var(--surface-1);
}

.invisibleOverlay {
    position: absolute;
    width: 120vw;
    height: 95vh;
    transform: translateX(-99%) translateY(-50px);
}

.discordBtnMobile {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 35px;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #4c57d3;
    border: 1px solid #7782fa;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    transition-duration: .1s;
}

.discordBtnMobile:hover {
    border-radius: 10px;
}

@media (max-width: 650px) {
    .discordBtn {
        display: none;
    }
    .discordBtnMobile {
        display: block;
    }
}