.Header {
    --_header-padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--_header-padding);
	width: calc(100%-var(--_header-padding));
}

.branding {
	font-size: 35px;
	color: white;
}

.branding span {
	background-color: var(--blue-4);
	color: var(--black);
	padding: 5px;
	border-radius: 5px;
}

.discordBtn {
    background-color: #5865F2;
    padding: 8px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: .1s;
    font-size: 15px;
}

.discordBtn:hover {
    border-radius: 10px;
    background-color: #4c57d3;
}
