.Sample {
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid var(--surface-5);
	background-color: var(--surface-3);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	width: calc(100% - 40px);
	margin-left: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	transition-duration: 0.1s;
}

.Sample:hover {
	background-color: var(--surface-4);
	border-left: 5px solid var(--blue-4);
	border-right: 5px solid var(--blue-4);
	width: calc(100% - 44px);
	padding-left: 6px;
	transform: scale(1.01);
}

.sample_active {
	background-color: var(--surface-4);
	border-left: 5px solid var(--blue-4);
	border-right: 5px solid var(--blue-4);
	width: calc(100% - 44px);
	padding-left: 6px;
	transform: scale(1.01);
}

.Sample:hover .audioduration {
	display: none;
}
.audioaction {
	display: none;
	font-size: 32px;
}

.Sample:hover .audioaction {
	display: block;
}

.duration_action {
	width: 30px;
}

.Sample img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.waveSurfer {
	flex-grow: 1;
	max-width: 200px;
	height: 50px;
}

.waveSurfer * {
    overflow: hidden !important;
}

.info {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	width: 350px;
}

.info p {
	display: flex;
	gap: 5px;
}

.info span {
	background-color: var(--surface-2);
	padding: 5px;
	border: 1px solid var(--surface-4);
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.spacer {
    flex-grow: 1;
    height: 10px;
}

.download_btn {
    font-size: 20px;
    padding: 5px 6px;
    border-radius: 5px;
    background-color:  none;
    color: white;
    border: 1px solid white;
    transition-duration: .1s;
    cursor: pointer;
}

.dl_anchor {
	color: white;
}

.download_btn:hover {
    background-color: white;
    color: var(--surface-3);
}

@media (max-width: 650px) {
    .waveSurfer {
        display: none;
    }
}
